In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

#  Change Master, Glossary_content, Amagi, Dayparts

In [2]:
#Change Master And Month****************************************************************************

Master = pd.read_excel('Master ElRey - October.xlsx', sheet_name='Master ElRey - October')
glossary_content = pd.read_excel('Master ElRey - October.xlsx', sheet_name= 'Glossary')


Amagi_dp1=pd.read_csv('July_hourly_noContent.csv')
Amagi_dp2=pd.read_csv('August_hourly_noContent.csv')
Amagi_dp3=pd.read_csv('September_hourly_noContent.csv')
Amagi_dp4=pd.read_csv('October19_hourly_noContent.csv')
#Amagi_dp5=pd.read_csv('August_hourly_noContent.csv')

#Amagi_dp6=pd.read_csv('September27_hourly_noContent.csv')
Amagi=Amagi_dp4



glossary_channel =pd.read_excel('Glossary.xlsx', sheet_name='Platform_Channel')

In [3]:
Master

,Unnamed: 0,HOUR,SEGMENT ID,ASSET ID,SEASON ID,SEASON TITLE,ASSET ID.1,TYPE,TITLE,YEAR,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,1,2021-10-01 00:00:00:00,NaN,1000000000596,NaN,NaN,1000000000596,episode,Economics and Covid-19,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2021-10-01 00:47:48:02,NaN,1000000000769,NaN,NaN,1000000000769,episode,Chu's Clues,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2021-10-01 01:14:50:05,NaN,TFD00001410,NaN,NaN,TFD00001410,feature_film,Get Christie Love,1974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2021-10-01 02:41:42:24,NaN,TFD00001417,NaN,NaN,TFD00001417,feature_film,Bad Black and Beautiful,1975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2021-10-01 04:17:05:25,NaN,TFD00001418,NaN,NaN,TFD00001418,feature_film,The Black Brigade,1970,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,863,2021-10-31 17:08:56:19,NaN,CEG10027420,NaN,NaN,CEG10027420,episode,Episode 10,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
863,864,2021-10-31 18:02:21:13,NaN,CEG10026659,NaN,NaN,CEG10026659,episode,Episode 1,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
864,865,2021-10-31 18:53:44:16,NaN,CEG10031523,NaN,NaN,CEG10031523,feature_film,Satan's Slave,1976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
865,866,2021-10-31 20:38:41:13,NaN,CEG10032150,NaN,NaN,CEG10032150,feature_film,Re-Animator,1985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
866,867,2021-10-31 22:17:38:07,NaN,CEG10033263,NaN,NaN,CEG10033263,feature_film,The Mutilator,1985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
glossary_content

          ASSET ID Series/Film                TITLE
0      CEG10016019        Film               4GOT10
1      CEG10016019        Film               4GOT10
2      CEG10016019        Film               4GOT10
3     883476022161        Film  ALONE IN THE DARK 2
4     883476022161        Film  ALONE IN THE DARK 2
..             ...         ...                  ...
862  1000000000555      Series   Vampiro: Unleashed
863  1000000000554      Series   Vampiro: Unleashed
864  1000000000553      Series   Vampiro: Unleashed
865  1000000000552      Series   Vampiro: Unleashed
866  1000000000551      Series   Vampiro: Unleashed

[867 rows x 3 columns]

In [5]:
Amagi

,Date,Channel Name,Session Count,Total Viewership Minutes,Unique Viewers
0,10/1/2021 0:00,bloodydisgusting_littlstar,2,120,2
1,10/1/2021 0:00,BloodyDisgusting_OandO,5,28,5
2,10/1/2021 0:00,Bloody Disgusting Roku US,1215,7292,995
3,10/1/2021 0:00,BloodyDisgusting_SelectTv,1,0,1
4,10/1/2021 0:00,Bloody Disgusting Vizio US,168,1127,139
...,...,...,...,...,...
27476,10/19/2021 9:00,Redbox DoveNOW,14,111,11
27477,10/19/2021 9:00,soreal_littlstar,1,60,1
27478,10/19/2021 9:00,SoReal Plex,9,122,9
27479,10/19/2021 9:00,So Real Stremium US,5,63,3
27480,10/19/2021 9:00,Towie Roku US,1670,2941,1377

In [6]:
glossary_channel

               Platform/Channel   Platform           Channel
0    bloodydisgusting_littlstar  Littlstar  BloodyDisgusting
1        BloodyDisgusting_OandO      OandO  BloodyDisgusting
2     Bloody Disgusting Roku US       Roku  BloodyDisgusting
3     BloodyDisgusting_SelectTv   SelectTv  BloodyDisgusting
4        BloodyDisgusting_Vizio      Vizio  BloodyDisgusting
..                          ...        ...               ...
126             FashionBox Plex       Plex        FashionBox
127               Gametoon Plex       Plex          Gametoon
128                 SoReal Plex       Plex            SoReal
129                Roku_bobross       Roku           BobRoss
130        ComedyDynamics_Vizio      Vizio    ComedyDynamics

[131 rows x 3 columns]

In [7]:
Master= Master.loc[:,('HOUR', 'ASSET ID')]
Master.rename(columns= {'ASSET ID': 'Content ID'},inplace=True)

In [8]:
glossary_content.rename(columns= {'ASSET ID': 'Content ID'}, inplace=True)
glossary_content = glossary_content[['Content ID', 'TITLE', 'Series/Film']]

# Merge Master with glossary

In [9]:
Master = pd.merge(Master, glossary_content, on = 'Content ID', how='left')

In [10]:
Master.rename(columns= {'TITLE':'Title'}, inplace=True)

# Datetime Adjustments

In [11]:
Master['TS'] = pd.to_datetime(Master['HOUR'], format = '%Y-%m-%d %H:%M:%S:%f')
Master= Master[['TS', 'Content ID', 'Title', 'Series/Film']]

In [12]:
Master['Hour_Start']= Master['TS'].dt.hour
Master['Minutes_Start']=Master['TS'].dt.minute

In [13]:
Master['Length']= Master['TS'].shift(-1) - Master['TS']
Master['TS End']= Master['TS'].shift(-1)
Master['Hour_End']= Master['TS End'].dt.hour
Master['Minutes_End']= Master['TS End'].dt.minute

In [14]:
#########################################################################
#pd.options.display.max_rows
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

# Fixing the last row

In [15]:
Master.iloc[-1, 7]= '2021-10-31 23:59:59.27'

In [16]:
Master['TS End']= pd.to_datetime(Master['TS End'], format = '%Y-%m-%d %H:%M:%S')

In [17]:
Master.iloc[-1,6]= Master.iloc[-1,7]- Master.iloc[-1,0]

In [18]:
Master.iloc[-1,8]= 23
Master.iloc[-1,9]= 59

In [19]:
Master['Hour_End']= Master['Hour_End'].astype(int)

# Adding middle hours

In [20]:
#When Lenght crosses 3 hours
Master.loc[Master['Hour_End']== Master['Hour_Start']+2 , 'Middle_1_Hour'] = Master['Hour_Start']+1
#exeptions
Master.loc[(Master['Hour_Start']== 22) & (Master['Hour_End']==0), 'Middle_1_Hour'] = 23

Master.loc[(Master['Hour_Start']== 23) & (Master['Hour_End']==1), 'Middle_1_Hour'] = 0


#When Legth crosses 4 hours
Master.loc[Master['Hour_End']== Master['Hour_Start']+3, 'Middle_2_Hour'] = Master['Hour_Start']+2
Master.loc[Master['Hour_End']== Master['Hour_Start']+3, 'Middle_1_Hour'] = Master['Hour_Start']+1
#exeptions
Master.loc[(Master['Hour_Start']== 21) & (Master['Hour_End']==0), 'Middle_2_Hour']=23
Master.loc[(Master['Hour_Start']== 21) & (Master['Hour_End']==0), 'Middle_1_Hour']=22

Master.loc[(Master['Hour_Start']== 22) & (Master['Hour_End']==1), 'Middle_2_Hour']=0
Master.loc[(Master['Hour_Start']== 22) & (Master['Hour_End']==1), 'Middle_1_Hour']=23

Master.loc[(Master['Hour_Start']== 23) & (Master['Hour_End']==2), 'Middle_2_Hour']=1
Master.loc[(Master['Hour_Start']== 23) & (Master['Hour_End']==2), 'Middle_1_Hour']=0


#when Length crosses 5 hours (ex. 3hr15min film starts at 6:50 ends at 10:05, thats 6,7,8,9,10)
Master.loc[Master['Hour_End']== Master['Hour_Start']+4, 'Middle_3_Hour'] = Master['Hour_Start']+3
Master.loc[Master['Hour_End']== Master['Hour_Start']+4, 'Middle_2_Hour'] = Master['Hour_Start']+2
Master.loc[Master['Hour_End']== Master['Hour_Start']+4, 'Middle_1_Hour'] = Master['Hour_Start']+1
#exeptions
Master.loc[(Master['Hour_Start']== 20) & (Master['Hour_End']==0), 'Middle_3_Hour']=23
Master.loc[(Master['Hour_Start']== 20) & (Master['Hour_End']==0), 'Middle_2_Hour']=22
Master.loc[(Master['Hour_Start']== 20) & (Master['Hour_End']==0), 'Middle_1_Hour']=21

Master.loc[(Master['Hour_Start']== 21) & (Master['Hour_End']==1), 'Middle_3_Hour']=0
Master.loc[(Master['Hour_Start']== 21) & (Master['Hour_End']==1), 'Middle_2_Hour']=23
Master.loc[(Master['Hour_Start']== 21) & (Master['Hour_End']==1), 'Middle_1_Hour']=22

Master.loc[(Master['Hour_Start']== 22) & (Master['Hour_End']==2), 'Middle_3_Hour']=1
Master.loc[(Master['Hour_Start']== 22) & (Master['Hour_End']==2), 'Middle_2_Hour']=0
Master.loc[(Master['Hour_Start']== 22) & (Master['Hour_End']==2), 'Middle_1_Hour']=23

Master.loc[(Master['Hour_Start']== 23) & (Master['Hour_End']==3), 'Middle_3_Hour']=2
Master.loc[(Master['Hour_Start']== 23) & (Master['Hour_End']==3), 'Middle_2_Hour']=1
Master.loc[(Master['Hour_Start']== 23) & (Master['Hour_End']==3), 'Middle_1_Hour']=0

# Adding the Percent of the total hour

In [21]:
#percentages
#First Hour
Master.loc[Master['Hour_Start']== (Master['Hour_End']),   'First'] = Master['Length']/timedelta(minutes=60)
Master.loc[Master['Hour_Start']+1 == Master['Hour_End'] , 'First'] = (60 -Master['TS'].dt.minute)/60
Master.loc[Master['Hour_Start']+2 == (Master['Hour_End']),'First'] = (60 -Master['TS'].dt.minute)/60
Master.loc[Master['Hour_Start']+3 == (Master['Hour_End']),'First'] = (60 -Master['TS'].dt.minute)/60
Master.loc[Master['Hour_Start']+4 == (Master['Hour_End']),'First'] = (60 -Master['TS'].dt.minute)/60


Master.loc[(Master['Hour_Start']== Master['Hour_End']+23),'First'] = (60 -Master['TS'].dt.minute)/60
Master.loc[(Master['Hour_Start']== Master['Hour_End']+22),'First'] = (60 -Master['TS'].dt.minute)/60
Master.loc[(Master['Hour_Start']== Master['Hour_End']+21),'First'] = (60 -Master['TS'].dt.minute)/60
Master.loc[(Master['Hour_Start']== Master['Hour_End']+20),'First'] = (60 -Master['TS'].dt.minute)/60


#Last Hour
Master.loc[Master['Hour_Start'] != Master['Hour_End'] ,   'Last'] = Master['Minutes_End']/60

#Mid Hours if necessarry
Master.loc[pd.notna(Master['Middle_1_Hour']),'Mid_1']=1
Master.loc[pd.notna(Master['Middle_2_Hour']),'Mid_2']=1
Master.loc[pd.notna(Master['Middle_3_Hour']),'Mid_3']=1

In [22]:
Master

,TS,Content ID,Title,Series/Film,Hour_Start,Minutes_Start,Length,TS End,Hour_End,Minutes_End,Middle_1_Hour,Middle_2_Hour,Middle_3_Hour,First,Last,Mid_1,Mid_2,Mid_3
0,2021-10-01 00:00:00.000,1000000000596,Maria!,Series,0,0,0 days 00:00:00,2021-10-01 00:00:00.000,0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
1,2021-10-01 00:00:00.000,1000000000596,Maria!,Series,0,0,0 days 00:00:00,2021-10-01 00:00:00.000,0,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
2,2021-10-01 00:00:00.000,1000000000596,Maria!,Series,0,0,0 days 00:47:48.020000,2021-10-01 00:47:48.020,0,47.0,NaN,NaN,NaN,0.796672,NaN,NaN,NaN,NaN
3,2021-10-01 00:47:48.020,1000000000769,The Chuey Martinez Show,Series,0,47,0 days 00:27:02.030000,2021-10-01 01:14:50.050,1,14.0,NaN,NaN,NaN,0.216667,0.233333,NaN,NaN,NaN
4,2021-10-01 01:14:50.050,TFD00001410,Get Christie Love,Film,1,14,0 days 00:00:00,2021-10-01 01:14:50.050,1,14.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406,2021-10-31 18:53:44.160,CEG10031523,Satan's Slave,Film,18,53,0 days 01:44:56.970000,2021-10-31 20:38:41.130,20,38.0,19.0,NaN,NaN,0.116667,0.633333,1.0,NaN,NaN
2407,2021-10-31 20:38:41.130,CEG10032150,Re-Animator,Film,20,38,0 days 00:00:00,2021-10-31 20:38:41.130,20,38.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
2408,2021-10-31 20:38:41.130,CEG10032150,Re-Animator,Film,20,38,0 days 01:38:56.940000,2021-10-31 22:17:38.070,22,17.0,21.0,NaN,NaN,0.366667,0.283333,1.0,NaN,NaN
2409,2021-10-31 22:17:38.070,CEG10033263,The Mutilator,Film,22,17,0 days 00:00:00,2021-10-31 22:17:38.070,22,17.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
2410,2021-10-31 22:17:38.070,CEG10033263,The Mutilator,Film,22,17,0 days 01:42:21.200000,2021-10-31 23:59:59.270,23,59.0,NaN,NaN,NaN,0.716667,0.983333,NaN,NaN,NaN

# Merge Amagi with Glossary

In [23]:
Amagi.rename(columns={'Channel Name':'Platform/Channel'}, inplace= True)
Amagi= pd.merge(Amagi, glossary_channel, on= 'Platform/Channel', how='left')

#  Change to desired Channel

In [24]:
#Change Channel Name **************************************************************************************
Amagi=Amagi[Amagi['Channel']=='ElRey']

In [25]:
Amagi

,Date,Platform/Channel,Session Count,Total Viewership Minutes,Unique Viewers,Platform,Channel
50,10/1/2021 0:00,El Rey Roku US,1975,11676,1575,Roku,ElRey
111,10/1/2021 1:00,El Rey Roku US,1726,11632,1376,Roku,ElRey
167,10/1/2021 2:00,El Rey Roku US,1614,10944,1313,Roku,ElRey
224,10/1/2021 3:00,El Rey Roku US,1690,7326,1420,Roku,ElRey
284,10/1/2021 4:00,El Rey Roku US,2010,5498,1687,Roku,ElRey
...,...,...,...,...,...,...,...
27224,10/19/2021 5:00,El Rey Roku US,2274,4733,1889,Roku,ElRey
27285,10/19/2021 6:00,El Rey Roku US,2347,3363,1966,Roku,ElRey
27342,10/19/2021 7:00,El Rey Roku US,2303,3010,1911,Roku,ElRey
27404,10/19/2021 8:00,El Rey Roku US,2306,2701,1929,Roku,ElRey
27465,10/19/2021 9:00,El Rey Roku US,2832,3584,2310,Roku,ElRey

In [26]:
Amagi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 50 to 27465
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      441 non-null    object
 1   Platform/Channel          441 non-null    object
 2   Session Count             441 non-null    int64
 3   Total Viewership Minutes  441 non-null    int64
 4   Unique Viewers            441 non-null    int64
 5   Platform                  441 non-null    object
 6   Channel                   441 non-null    object
dtypes: int64(3), object(4)
memory usage: 27.6+ KB

In [27]:
Amagi['Date']= pd.to_datetime(Amagi['Date'], format = '%m/%d/%Y %H:%M')

In [28]:
Amagi['Hour']= Amagi['Date'].dt.hour
Amagi['Day']= Amagi['Date'].dt.day

In [29]:
Amagi_Min=Amagi.groupby(['Day','Hour'])['Total Viewership Minutes'].agg(sum).reset_index()
Amagi_Sess=Amagi.groupby(['Day','Hour'])['Session Count'].agg(sum).reset_index()
Amagi_Min.rename(columns={'Total Viewership Minutes':'Min'}, inplace=True)
Amagi_Sess.rename(columns={'Session Count':'Sess'}, inplace=True)

In [30]:
Master['Day']= Master['TS'].dt.day

# Merging Master with Amagi Data

In [31]:
Master= pd.merge(Master, Amagi_Min ,left_on=['Day','Hour_Start'], right_on=['Day', 'Hour'], how='left' )
Master= pd.merge(Master, Amagi_Sess ,left_on=['Day','Hour_Start'], right_on=['Day', 'Hour'], how='left' )

In [32]:
Master.drop(columns=['Hour_x','Hour_y'], inplace= True)
Master.rename(columns={'Min':'Min_Hour_start'}, inplace=True)
Master.rename(columns={'Sess':'Sess_Hour_start'}, inplace= True)

In [33]:
Master= pd.merge(Master, Amagi_Min ,left_on=['Day','Middle_1_Hour'], right_on=['Day', 'Hour'], how='left' )
Master= pd.merge(Master, Amagi_Sess ,left_on=['Day','Middle_1_Hour'], right_on=['Day', 'Hour'], how='left' )

In [34]:
Master.drop(columns=['Hour_x','Hour_y'], inplace= True)
Master.rename(columns={'Min':'Min_Hour_Mid1'}, inplace=True)
Master.rename(columns={'Sess':'Sess_Hour_Mid1'}, inplace= True)

In [35]:
Master= pd.merge(Master, Amagi_Min ,left_on=['Day','Middle_2_Hour'], right_on=['Day', 'Hour'], how='left' )
Master= pd.merge(Master, Amagi_Sess ,left_on=['Day','Middle_2_Hour'], right_on=['Day', 'Hour'], how='left' )

In [36]:
Master.drop(columns=['Hour_x','Hour_y'], inplace= True)
Master.rename(columns={'Min':'Min_Hour_Mid2'}, inplace=True)
Master.rename(columns={'Sess':'Sess_Hour_Mid2'}, inplace= True)

In [37]:
Master= pd.merge(Master, Amagi_Min ,left_on=['Day','Middle_3_Hour'], right_on=['Day', 'Hour'], how='left' )
Master= pd.merge(Master, Amagi_Sess ,left_on=['Day','Middle_3_Hour'], right_on=['Day', 'Hour'], how='left' )

In [38]:
Master.drop(columns=['Hour_x','Hour_y'], inplace= True)
Master.rename(columns={'Min':'Min_Hour_Mid3'}, inplace=True)
Master.rename(columns={'Sess':'Sess_Hour_Mid3'}, inplace= True)

In [39]:
Master= pd.merge(Master, Amagi_Min ,left_on=['Day','Hour_End'], right_on=['Day', 'Hour'], how='left' )
Master= pd.merge(Master, Amagi_Sess ,left_on=['Day','Hour_End'], right_on=['Day', 'Hour'], how='left' )

In [40]:
Master.drop(columns=['Hour_x','Hour_y'], inplace= True)
Master.rename(columns={'Min':'Min_Hour_End'}, inplace=True)
Master.rename(columns={'Sess':'Sess_Hour_End'}, inplace= True)

In [41]:
Master.loc[(Master['Hour_Start']== Master['Hour_End']), 'Min_Hour_End']= 0

In [42]:
Master.loc[(Master['Hour_Start']== Master['Hour_End']), 'Sess_Hour_End']= 0

In [43]:
Master

,TS,Content ID,Title,Series/Film,Hour_Start,Minutes_Start,Length,TS End,Hour_End,Minutes_End,...,Min_Hour_start,Sess_Hour_start,Min_Hour_Mid1,Sess_Hour_Mid1,Min_Hour_Mid2,Sess_Hour_Mid2,Min_Hour_Mid3,Sess_Hour_Mid3,Min_Hour_End,Sess_Hour_End
0,2021-10-01 00:00:00.000,1000000000596,Maria!,Series,0,0,0 days 00:00:00,2021-10-01 00:00:00.000,0,0.0,...,11676.0,1975.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,2021-10-01 00:00:00.000,1000000000596,Maria!,Series,0,0,0 days 00:00:00,2021-10-01 00:00:00.000,0,0.0,...,11676.0,1975.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2,2021-10-01 00:00:00.000,1000000000596,Maria!,Series,0,0,0 days 00:47:48.020000,2021-10-01 00:47:48.020,0,47.0,...,11676.0,1975.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
3,2021-10-01 00:47:48.020,1000000000769,The Chuey Martinez Show,Series,0,47,0 days 00:27:02.030000,2021-10-01 01:14:50.050,1,14.0,...,11676.0,1975.0,NaN,NaN,NaN,NaN,NaN,NaN,11632.0,1726.0
4,2021-10-01 01:14:50.050,TFD00001410,Get Christie Love,Film,1,14,0 days 00:00:00,2021-10-01 01:14:50.050,1,14.0,...,11632.0,1726.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406,2021-10-31 18:53:44.160,CEG10031523,Satan's Slave,Film,18,53,0 days 01:44:56.970000,2021-10-31 20:38:41.130,20,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2407,2021-10-31 20:38:41.130,CEG10032150,Re-Animator,Film,20,38,0 days 00:00:00,2021-10-31 20:38:41.130,20,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2408,2021-10-31 20:38:41.130,CEG10032150,Re-Animator,Film,20,38,0 days 01:38:56.940000,2021-10-31 22:17:38.070,22,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2409,2021-10-31 22:17:38.070,CEG10033263,The Mutilator,Film,22,17,0 days 00:00:00,2021-10-31 22:17:38.070,22,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
2410,2021-10-31 22:17:38.070,CEG10033263,The Mutilator,Film,22,17,0 days 01:42:21.200000,2021-10-31 23:59:59.270,23,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Fill nan with 0

In [44]:
Master['Last']= Master['Last'].fillna(0)
Master['Mid_1']= Master['Mid_1'].fillna(0)
Master['Mid_2']= Master['Mid_2'].fillna(0)
Master['Mid_3']= Master['Mid_3'].fillna(0)

Master['Min_Hour_Mid1']= Master['Min_Hour_Mid1'].fillna(0)
Master['Min_Hour_Mid2']= Master['Min_Hour_Mid2'].fillna(0)
Master['Min_Hour_Mid3']= Master['Min_Hour_Mid3'].fillna(0)
Master['Min_Hour_End']= Master['Min_Hour_End'].fillna(0)

Master['Sess_Hour_Mid1']= Master['Sess_Hour_Mid1'].fillna(0)
Master['Sess_Hour_Mid2']= Master['Sess_Hour_Mid2'].fillna(0)
Master['Sess_Hour_Mid3']= Master['Sess_Hour_Mid3'].fillna(0)
Master['Sess_Hour_End']= Master['Sess_Hour_End'].fillna(0)

# Multiply percent of hour with data for whole hour

In [45]:
Master['Total Minutes']= ((Master['First']*Master['Min_Hour_start']) + 
(Master['Mid_1']*Master['Min_Hour_Mid1']) + 
(Master['Mid_2'] * Master['Min_Hour_Mid2']) + 
(Master['Mid_3'] * Master['Min_Hour_Mid3']) +                           
(Master['Last'] * Master['Min_Hour_End']))

Master['Total Session']= ((Master['First'] * Master['Sess_Hour_start']) + 
(Master['Mid_1'] * Master['Sess_Hour_Mid1']) + 
(Master['Mid_2'] * Master['Sess_Hour_Mid2']) + 
(Master['Mid_3'] * Master['Sess_Hour_Mid3']) + 
(Master['Last'] * Master['Sess_Hour_End']))

In [46]:
Master.drop(Master[Master['TS']==Master['TS End']].index, inplace=True)
Master.reset_index()
df= Master.loc[:,('Series/Film','Title','TS','Day','Hour_Start','Minutes_Start', 'Middle_1_Hour','Middle_2_Hour',
                  'Middle_3_Hour','Length','TS End',
                'Hour_End','Minutes_End','Total Minutes','Total Session')]

# Adding Daypart labels

In [47]:
df['Weekday']= df['TS'].dt.weekday

In [48]:
Conditions2 =[
    (df['Weekday'] < 5) & (df['Hour_Start'] < 6) & (df['Hour_Start'] >= 3),
    (df['Weekday'] < 5) & (df['Hour_Start'] < 13) & (df['Hour_Start'] >= 6),
    (df['Weekday'] < 5) & (df['Hour_Start'] < 17) & (df['Hour_Start'] >= 13),
    (df['Weekday'] < 5) & (df['Hour_Start'] < 20) & (df['Hour_Start'] >= 17),
    (df['Weekday'] < 5) & (df['Hour_Start'] < 23) & (df['Hour_Start'] >= 20),
    (df['Weekday'] < 5) & ((df['Hour_Start'] < 3) | (df['Hour_Start'] >= 23)),
    (df['Weekday'] >= 5) & (df['Hour_Start'] < 7) & (df['Hour_Start'] >= 3),
    (df['Weekday'] >= 5) & (df['Hour_Start'] < 17) & (df['Hour_Start'] >= 7),
    (df['Weekday'] >= 5) & (df['Hour_Start'] < 20) & (df['Hour_Start'] >= 17),
    (df['Weekday'] >= 5) & (df['Hour_Start'] < 23) & (df['Hour_Start'] >= 20),
    (df['Weekday'] >= 5) & ((df['Hour_Start'] < 3) | (df['Hour_Start'] >= 23)),
    
]

Daypart2 = ['Weekday Morning','Weekday Day', 'Weekday Fringe','Prime', 'Late Night', 'Overnight',
           'Weekend Morning', 'Weekend Day', 'Prime (wknd)', 'Late Night (wknd)', 'Overnight (wknd)'
         ]

df['Dayparts_Start']= np.select(Conditions2, Daypart2, default= np.nan)

In [49]:
Conditions3 =[
    (df['Weekday'] < 5) & (df['Hour_End'] < 6) & (df['Hour_End'] >= 3),
    (df['Weekday'] < 5) & (df['Hour_End'] < 13) & (df['Hour_End'] >= 6),
    (df['Weekday'] < 5) & (df['Hour_End'] < 17) & (df['Hour_End'] >= 13),
    (df['Weekday'] < 5) & (df['Hour_End'] < 20) & (df['Hour_End'] >= 17),
    (df['Weekday'] < 5) & (df['Hour_End'] < 23) & (df['Hour_End'] >= 20),
    (df['Weekday'] < 5) & ((df['Hour_End'] < 3) | (df['Hour_End'] >= 23)),
    (df['Weekday'] >= 5) & (df['Hour_End'] < 7) & (df['Hour_End'] >= 3),
    (df['Weekday'] >= 5) & (df['Hour_End'] < 17) & (df['Hour_End'] >= 7),
    (df['Weekday'] >= 5) & (df['Hour_End'] < 20) & (df['Hour_End'] >= 17),
    (df['Weekday'] >= 5) & (df['Hour_End'] < 23) & (df['Hour_End'] >= 20),
    (df['Weekday'] >= 5) & ((df['Hour_End'] < 3) | (df['Hour_End'] >= 23)),
    
]

Daypart3 = ['Weekday Morning','Weekday Day', 'Weekday Fringe','Prime', 'Late Night', 'Overnight',
           'Weekend Morning', 'Weekend Day', 'Prime (wknd)', 'Late Night (wknd)', 'Overnight (wknd)'
         ]

df['Dayparts_End']= np.select(Conditions3, Daypart3, default= np.nan)

In [50]:
df['com']= df['Dayparts_Start']+df['Dayparts_End']

In [51]:
dayp={ 'com':
['Weekday MorningWeekday Day' ,'Weekday DayWeekday Fringe','Weekday FringePrime'
,'PrimeLate Night','Late NightOvernight','OvernightWeekday Morning'
,'OvernightWeekend Morning','Weekend MorningWeekend Day','Weekend DayPrime (wknd)'
,'Prime (wknd)Late Night (wknd)','Late Night (wknd)Overnight (wknd)','Overnight (wknd)Weekend Morning'
,'Overnight (wknd)Weekday Morning'], 
      'DP_HR_Cross':
[6,13,17,20,23,3,3,7,17,20,23,3,3]
     }
daypp= pd.DataFrame(dayp, columns= ['com','DP_HR_Cross'])

In [52]:
df= pd.merge(df, daypp, on='com', how='left')

In [53]:
df['H']=pd.to_timedelta(df.DP_HR_Cross, unit='h')

In [54]:
df['date']= df['TS'].dt.date

In [55]:
df['date']= pd.to_datetime(df['date'])

In [56]:
df['DT_Cross']= df['date']+ df['H']

In [57]:
df['DP_ratio']= (df['DT_Cross']- df['TS'])/ df['Length']
df['DP2_ratio']=(df['TS End']- df['DT_Cross'])/ df['Length']

In [58]:
df.loc[df['DP_ratio']<= .1, 'DP_ratio']=0
df.loc[df['DP_ratio']>= .9, 'DP_ratio']=1
df.loc[df['DP_ratio']<= .1, 'DP2_ratio']=1
df.loc[df['DP_ratio']>= .9, 'DP2_ratio']=0

In [59]:
df['DP_ratio']= df['DP_ratio'].fillna(1)
df['DP2_ratio']= df['DP2_ratio'].fillna(0)

In [60]:
df['Min_total']= df['Total Minutes']
df['Sess_total']= df['Total Session']

In [61]:
df['Min_Daypart']= df['DP_ratio'] * df['Min_total']
df['Min_Daypart2']= df['DP2_ratio']* df['Min_total']

df['Sess_Daypart']=df['DP_ratio']* df['Sess_total']
df['Sess_Daypart2']=df['DP2_ratio']* df['Sess_total']

In [62]:
df['Sess_Duration'] = df['Min_Daypart']/ df['Sess_Daypart']
df['Sess_Duration2'] = df['Min_Daypart2']/ df['Sess_Daypart2']

In [63]:
df['Length_minutes']= df['Length']/timedelta(minutes=1)

In [64]:
df['Length_minutes_DP1']= df['Length_minutes']* df['DP_ratio']
df['Length_minutes_DP2']= df['Length_minutes']* df['DP2_ratio']

In [65]:
df['Minutes per min']= df['Min_Daypart']/df['Length_minutes_DP1']
df['Minutes_Second Daypart']= df['Min_Daypart2']/df['Length_minutes_DP2']

df['Sess per min']= df['Sess_Daypart']/df['Length_minutes_DP1']
df['Sess per min_Second Daypart']= df['Sess_Daypart2']/df['Length_minutes_DP2']

# Create Daypart Averages

In [66]:
Amagi_dp4.rename(columns={'Platform/Channel':'Channel Name'}, inplace=True)

In [67]:
Amagi_dp3['Date']= pd.to_datetime(Amagi_dp3['Date'], format = '%m/%d/%Y %H:%M')
Amagi_dp4['Date']= pd.to_datetime(Amagi_dp4['Date'], format = '%m/%d/%Y %H:%M')
Amagi_dp2['Date']= pd.to_datetime(Amagi_dp2['Date'], format = '%m-%d-%Y %H:%M:%S')
Amagi_dp1['Date']= pd.to_datetime(Amagi_dp1['Date'], format = '%m-%d-%Y %H:%M:%S')


Amagi_DP= pd.concat([Amagi_dp1, Amagi_dp2, Amagi_dp3, Amagi_dp4], axis=0)
#Amagi_DP['Date']= pd.to_datetime(Amagi_DP['Date'], format = '%m-%d-%Y %H:%M:%S')
#Amagi_dp5['Date']= pd.to_datetime(Amagi_dp5['Date'], format = '%m/%d/%Y %H:%M')

In [68]:
#Amagi_DP=pd.concat([Amagi_DP,Amagi_dp6], axis=0,ignore_index=True)

In [69]:
Amagi_DP.rename(columns={'Channel Name':'Platform/Channel'}, inplace= True)
Amagi_DP= pd.merge(Amagi_DP, glossary_channel, on= 'Platform/Channel', how='left')

#Change Channel Name*********************************************************************************
Amagi_DP=Amagi_DP[Amagi_DP['Channel']=='ElRey']

In [70]:
Amagi_DP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1598 entries, 10418 to 182289
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      1598 non-null   datetime64[ns]
 1   Platform/Channel          1598 non-null   object
 2   Session Count             1598 non-null   int64
 3   Total Viewership Minutes  1598 non-null   int64
 4   Unique Viewers            1598 non-null   int64
 5   Platform                  1598 non-null   object
 6   Channel                   1598 non-null   object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 99.9+ KB

In [71]:
Amagi_DP['Weekday']= Amagi_DP['Date'].dt.weekday
Amagi_DP['Hour']= Amagi_DP['Date'].dt.hour
Amagi_DP['Day']= Amagi_DP['Date'].dt.day
Amagi_DP['Month']= Amagi_DP['Date'].dt.month

In [72]:
ADP= Amagi_DP

In [73]:
Conditions =[
    (ADP['Weekday'] < 5) & (ADP['Hour'] < 6) & (ADP['Hour'] >= 3),
    (ADP['Weekday'] < 5) & (ADP['Hour'] < 13) & (ADP['Hour'] >= 6),
    (ADP['Weekday'] < 5) & (ADP['Hour'] < 17) & (ADP['Hour'] >= 13),
    (ADP['Weekday'] < 5) & (ADP['Hour'] < 20) & (ADP['Hour'] >= 17),
    (ADP['Weekday'] < 5) & (ADP['Hour'] < 23) & (ADP['Hour'] >= 20),
    (ADP['Weekday'] < 5) & ((ADP['Hour'] < 3) | (ADP['Hour'] >= 23)),
    (ADP['Weekday'] >= 5) & (ADP['Hour'] < 7) & (ADP['Hour'] >= 3),
    (ADP['Weekday'] >= 5) & (ADP['Hour'] < 17) & (ADP['Hour'] >= 7),
    (ADP['Weekday'] >= 5) & (ADP['Hour'] < 20) & (ADP['Hour'] >= 17),
    (ADP['Weekday'] >= 5) & (ADP['Hour'] < 23) & (ADP['Hour'] >= 20),
    (ADP['Weekday'] >= 5) & ((ADP['Hour'] < 3) | (ADP['Hour'] >= 23)),
    
]

Daypart = ['Weekday Morning','Weekday Day', 'Weekday Fringe','Prime', 'Late Night', 'Overnight',
           'Weekend Morning', 'Weekend Day', 'Prime (wknd)', 'Late Night (wknd)', 'Overnight (wknd)'
         ]

ADP['Daypart']= np.select(Conditions, Daypart, default= np.nan)

In [74]:
ADP= ADP.groupby(['Month','Day','Hour','Daypart']).agg(sum).reset_index()

In [75]:
ADP=ADP.groupby(['Month','Daypart']).mean().reset_index()
ADP['Sess_Duration']= ADP['Total Viewership Minutes']/ ADP['Session Count']

In [76]:
ADPM= ADP.loc[:,('Month','Daypart', 'Total Viewership Minutes')]
ADPS= ADP.loc[:,('Month','Daypart', 'Sess_Duration')]

In [77]:
ADPM=ADPM.pivot( index= ['Daypart'], columns= 'Month')
ADPS=ADPS.pivot( index= ['Daypart'], columns= 'Month')

In [78]:
ADPM.columns= ADPM.columns.droplevel(0)
ADPM.columns.name= None
ADPM=ADPM.reset_index()

ADPS.columns= ADPS.columns.droplevel(0)
ADPS.columns.name=None
ADPS = ADPS.reset_index()

In [79]:
ADPM

              Daypart          7             8             9            10
0          Late Night   3.750000  11136.131579   7366.378788   6151.750000
1   Late Night (wknd)   0.000000  20274.666667  14157.250000  12109.222222
2           Overnight  55.533333   8389.415094   9294.284091   8333.235294
3    Overnight (wknd)   8.000000   7785.117647   5870.406250   4717.958333
4               Prime   1.500000  29714.617647  21560.000000  15414.361111
5        Prime (wknd)        NaN  41212.916667  26458.041667  19675.222222
6         Weekday Day   8.142857   9891.535714   7453.402597   8154.261364
7      Weekday Fringe  25.400000  15532.680000  12438.806818   8947.680851
8     Weekday Morning  26.333333   7882.424242   7826.484848   6043.846154
9         Weekend Day        NaN  39666.900000  17326.875000  12156.216667
10    Weekend Morning   0.000000   5291.937500   3938.593750   3589.250000

In [80]:
ADPM[10]=ADPM[10]/60
ADPM[9]=ADPM[9]/60
ADPM[8]=ADPM[8]/60
ADPM[7]=ADPM[7]/60
#ADPM[8]=ADPM[8]/60
#ADPM[9]=ADPM[9]/60

ADPM['Q3']= (ADPM[7]+ ADPM[8]+ ADPM[9])/3
ADPS['Q3']= (ADPS[7]+ ADPS[8]+ ADPS[9])/3

# Create Hourly Trends

In [81]:
Conditions =[
    (Amagi_DP['Weekday'] < 5) & (Amagi_DP['Hour'] < 6) & (Amagi_DP['Hour'] >= 3),
    (Amagi_DP['Weekday'] < 5) & (Amagi_DP['Hour'] < 13) & (Amagi_DP['Hour'] >= 6),
    (Amagi_DP['Weekday'] < 5) & (Amagi_DP['Hour'] < 17) & (Amagi_DP['Hour'] >= 13),
    (Amagi_DP['Weekday'] < 5) & (Amagi_DP['Hour'] < 20) & (Amagi_DP['Hour'] >= 17),
    (Amagi_DP['Weekday'] < 5) & (Amagi_DP['Hour'] < 23) & (Amagi_DP['Hour'] >= 20),
    (Amagi_DP['Weekday'] < 5) & ((Amagi_DP['Hour'] < 3) | (Amagi_DP['Hour'] >= 23)),
    (Amagi_DP['Weekday'] >= 5) & (Amagi_DP['Hour'] < 7) & (Amagi_DP['Hour'] >= 3),
    (Amagi_DP['Weekday'] >= 5) & (Amagi_DP['Hour'] < 17) & (Amagi_DP['Hour'] >= 7),
    (Amagi_DP['Weekday'] >= 5) & (Amagi_DP['Hour'] < 20) & (Amagi_DP['Hour'] >= 17),
    (Amagi_DP['Weekday'] >= 5) & (Amagi_DP['Hour'] < 23) & (Amagi_DP['Hour'] >= 20),
    (Amagi_DP['Weekday'] >= 5) & ((Amagi_DP['Hour'] < 3) | (Amagi_DP['Hour'] >= 23)),
    
]

Daypart = ['Weekday Morning','Weekday Day', 'Weekday Fringe','Prime', 'Late Night', 'Overnight',
           'Weekend Morning', 'Weekend Day', 'Prime (wknd)', 'Late Night (wknd)', 'Overnight (wknd)'
         ]

Amagi_DP['Daypart']= np.select(Conditions, Daypart, default= np.nan)

In [82]:
Amagi_DP= Amagi_DP.groupby(['Month','Day','Hour','Daypart']).agg(sum).reset_index()

In [83]:
Amagi_DP['Month']=Amagi_DP['Month'].astype('category')
Amagi_DP['Day']=Amagi_DP['Day'].astype('category')
Amagi_DP['Hour']=Amagi_DP['Hour'].astype('category')

In [84]:
Amagi_DP=Amagi_DP.groupby(['Month','Day','Hour','Daypart']).mean().reset_index()
Amagi_DP['Sess_Duration']= Amagi_DP['Total Viewership Minutes']/ Amagi_DP['Session Count']

In [85]:
Amagi_DP= Amagi_DP.loc[:,('Month','Day','Hour','Daypart','Total Viewership Minutes','Sess_Duration')]

In [86]:
Amagi_DP['Total Viewership Minutes per minute']=Amagi_DP['Total Viewership Minutes']/60

In [87]:
Amagi_DP=Amagi_DP[Amagi_DP['Sess_Duration'].notna()]

In [88]:
Conditions=[
(Amagi_DP['Daypart'] == 'Weekday Morning') | (Amagi_DP['Daypart']=='Weekday Day') | (Amagi_DP['Daypart']=='Weekday Fringe') | (Amagi_DP['Daypart']=='Prime') | (Amagi_DP['Daypart']=='Late Night') | (Amagi_DP['Daypart']=='Overnight'),
(Amagi_DP['Daypart']== 'Weekend Morning') | (Amagi_DP['Daypart']=='Weekend Day') | (Amagi_DP['Daypart']=='Prime (wknd)') | (Amagi_DP['Daypart']=='Late Night (wknd)') | (Amagi_DP['Daypart']=='Overnight (wknd)')    
]

results= ['Weekday', 'Weekend']

Amagi_DP['week/weekend']= np.select(Conditions, results, default=np.nan)

# Daypart Averages Table

In [89]:
Amagi_DP_weekdays= Amagi_DP[Amagi_DP['week/weekend']== 'Weekday']
Amagi_DP_weekends= Amagi_DP[Amagi_DP['week/weekend']== 'Weekend']

In [90]:
Amagi_DP_weekdays=Amagi_DP_weekdays.groupby(['Month','Hour','Daypart']).mean().reset_index()
Amagi_DP_weekends=Amagi_DP_weekends.groupby(['Month','Hour','Daypart']).mean().reset_index()

Amagi_DP_weekdays.dropna(inplace=True)
Amagi_DP_weekends.dropna(inplace=True)

In [91]:
ADPw=Amagi_DP_weekdays.pivot(index=['Hour'],columns='Month',values=['Total Viewership Minutes',
                                                                    'Sess_Duration']).swaplevel(0,1,axis=1).reset_index()
ADPwk=Amagi_DP_weekends.pivot(index=['Hour'],columns='Month',values=['Total Viewership Minutes',
                                                                    'Sess_Duration']).swaplevel(0,1,axis=1).reset_index()

In [92]:
ADPw.columns= ADPw.columns.droplevel(1)
ADPwk.columns= ADPwk.columns.droplevel(1)

In [93]:
ADPw.rename(columns={4:'Apr',5:'May',6:'Jun',7:'Jul','Hour':'Hour(24-Pac)'},inplace=True)
ADPwk.rename(columns={4:'Apr',5:'May',6:'Jun',7:'Jul','Hour':'Hour(24-Pac)'},inplace=True)

In [94]:
Con5=[
    (ADPw['Hour(24-Pac)']== 0),(ADPw['Hour(24-Pac)']== 1),(ADPw['Hour(24-Pac)']== 2),(ADPw['Hour(24-Pac)']== 3),
    (ADPw['Hour(24-Pac)']== 4),(ADPw['Hour(24-Pac)']== 5),(ADPw['Hour(24-Pac)']== 6),(ADPw['Hour(24-Pac)']== 7),
    (ADPw['Hour(24-Pac)']== 8),(ADPw['Hour(24-Pac)']== 9),(ADPw['Hour(24-Pac)']== 10),(ADPw['Hour(24-Pac)']== 11),
    (ADPw['Hour(24-Pac)']== 12),(ADPw['Hour(24-Pac)']== 13),(ADPw['Hour(24-Pac)']== 14),(ADPw['Hour(24-Pac)']== 15),
    (ADPw['Hour(24-Pac)']== 16),(ADPw['Hour(24-Pac)']== 17),(ADPw['Hour(24-Pac)']== 18),(ADPw['Hour(24-Pac)']== 19),
    (ADPw['Hour(24-Pac)']== 20),(ADPw['Hour(24-Pac)']== 21),(ADPw['Hour(24-Pac)']== 22),(ADPw['Hour(24-Pac)']== 23),  
]

Con6=[
    (ADPwk['Hour(24-Pac)']== 0),(ADPwk['Hour(24-Pac)']== 1),(ADPwk['Hour(24-Pac)']== 2),(ADPwk['Hour(24-Pac)']== 3),
    (ADPwk['Hour(24-Pac)']== 4),(ADPwk['Hour(24-Pac)']== 5),(ADPwk['Hour(24-Pac)']== 6),(ADPwk['Hour(24-Pac)']== 7),
    (ADPwk['Hour(24-Pac)']== 8),(ADPwk['Hour(24-Pac)']== 9),(ADPwk['Hour(24-Pac)']== 10),(ADPwk['Hour(24-Pac)']== 11),
    (ADPwk['Hour(24-Pac)']== 12),(ADPwk['Hour(24-Pac)']== 13),(ADPwk['Hour(24-Pac)']== 14),(ADPwk['Hour(24-Pac)']== 15),
    (ADPwk['Hour(24-Pac)']== 16),(ADPwk['Hour(24-Pac)']== 17),(ADPwk['Hour(24-Pac)']== 18),(ADPwk['Hour(24-Pac)']== 19),
    (ADPwk['Hour(24-Pac)']== 20),(ADPwk['Hour(24-Pac)']== 21),(ADPwk['Hour(24-Pac)']== 22),(ADPwk['Hour(24-Pac)']== 23),  
]




pac=['0am-pt','1am-pt','2am-pt','3am-pt','4am-pt','5am-pt',
    '6am-pt','7am-pt','8am-pt','9am-pt','10am-pt','11am-pt',
    '12pm-pt','1pm-pt','2pm-pt','3pm-pt','4pm-pt','5pm-pt',
    '6pm-pt','7pm-pt','8pm-pt','9pm-pt','10pm-pt','11pm-pt',]

east=['3am-et','4am-et','5am-et','6am-et','7am-et','8am-et',
      '9am-et','10am-et','11am-et','12pm-et','1pm-et','2pm-et',
      '3pm-et','4pm-et','5pm-et','6pm-et','7pm-et','8pm-et',
      '9pm-et','10pm-et','11pm-et','0am-et','1am-et','2am-et']

ADPw['Pacific_Time']=np.select(Con5,pac,default=np.nan)
ADPw['East_Time']=np.select(Con5,east,default=np.nan)

ADPwk['Pacific_Time']=np.select(Con6,pac,default=np.nan)
ADPwk['East_Time']=np.select(Con6,east,default=np.nan)

In [95]:
Amagi_DPA= ADPw.append(ADPwk)

# Merge Daypart Averages df

In [96]:
dfmin=pd.merge(df,ADPM, left_on='Dayparts_Start', right_on='Daypart', how='left')
dfmin=pd.merge(dfmin,ADPM, left_on='Dayparts_End', right_on='Daypart', how='left')

In [97]:
dfsessD=pd.merge(df,ADPS, left_on='Dayparts_Start', right_on='Daypart', how='left')
dfsessD=pd.merge(dfsessD,ADPS, left_on='Dayparts_End', right_on='Daypart', how='left')

In [98]:
dfmin

,Series/Film,Title,TS,Day,Hour_Start,Minutes_Start,Middle_1_Hour,Middle_2_Hour,Middle_3_Hour,Length,...,8_x,9_x,10_x,Q3_x,Daypart_y,7_y,8_y,9_y,10_y,Q3_y
0,Series,Maria!,2021-10-01 00:00:00.000,1,0,0,NaN,NaN,NaN,0 days 00:47:48.020000,...,139.823585,154.904735,138.887255,98.551292,Overnight,0.925556,139.823585,154.904735,138.887255,98.551292
1,Series,The Chuey Martinez Show,2021-10-01 00:47:48.020,1,0,47,NaN,NaN,NaN,0 days 00:27:02.030000,...,139.823585,154.904735,138.887255,98.551292,Overnight,0.925556,139.823585,154.904735,138.887255,98.551292
2,Film,Get Christie Love,2021-10-01 01:14:50.050,1,1,14,NaN,NaN,NaN,0 days 01:26:52.190000,...,139.823585,154.904735,138.887255,98.551292,Overnight,0.925556,139.823585,154.904735,138.887255,98.551292
3,Film,Bad Black and Beautiful,2021-10-01 02:41:42.240,1,2,41,3.0,NaN,NaN,0 days 01:35:23.010000,...,139.823585,154.904735,138.887255,98.551292,Weekday Morning,0.438889,131.373737,130.441414,100.730769,87.418013
4,Film,The Black Brigade,2021-10-01 04:17:05.250,1,4,17,NaN,NaN,NaN,0 days 01:20:25,...,131.373737,130.441414,100.730769,87.418013,Weekday Morning,0.438889,131.373737,130.441414,100.730769,87.418013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,Series,Ip Man: Legend,2021-10-31 17:08:56.190,31,17,8,NaN,NaN,NaN,0 days 00:53:24.940000,...,686.881944,440.967361,327.920370,NaN,Prime (wknd),NaN,686.881944,440.967361,327.920370,NaN
863,Series,Ip Man: Origins,2021-10-31 18:02:21.130,31,18,2,NaN,NaN,NaN,0 days 00:51:23.030000,...,686.881944,440.967361,327.920370,NaN,Prime (wknd),NaN,686.881944,440.967361,327.920370,NaN
864,Film,Satan's Slave,2021-10-31 18:53:44.160,31,18,53,19.0,NaN,NaN,0 days 01:44:56.970000,...,686.881944,440.967361,327.920370,NaN,Late Night (wknd),0.000000,337.911111,235.954167,201.820370,191.288426
865,Film,Re-Animator,2021-10-31 20:38:41.130,31,20,38,21.0,NaN,NaN,0 days 01:38:56.940000,...,337.911111,235.954167,201.820370,191.288426,Late Night (wknd),0.000000,337.911111,235.954167,201.820370,191.288426
866,Film,The Mutilator,2021-10-31 22:17:38.070,31,22,17,NaN,NaN,NaN,0 days 01:42:21.200000,...,337.911111,235.954167,201.820370,191.288426,Overnight (wknd),0.133333,129.751961,97.840104,78.632639,75.908466

In [99]:
dfmin['Performance - Q3(Daypart avg)']= (dfmin['Minutes per min']- dfmin['Q3_x'])/dfmin['Q3_x']
dfmin['Performance - October(Daypart avg)']= (dfmin['Minutes per min']- dfmin['10_x'])/dfmin['10_x']
#dfmin['Performance - August(Daypart avg)']= (dfmin['Minutes per min']- dfmin['8_x'])/dfmin['8_x']
dfmin['Performance - September(Daypart avg)']= (dfmin['Minutes per min']- dfmin['9_x'])/dfmin['9_x']


dfmin['Performance2 - Q3(Daypart avg)']= (dfmin['Minutes_Second Daypart']- dfmin['Q3_y'])/dfmin['Q3_y']
dfmin['Performance2 - October(Daypart avg)']= (dfmin['Minutes_Second Daypart']- dfmin['10_y'])/dfmin['10_y']
#dfmin['Performance2 - August(Daypart avg)']= (dfmin['Minutes_Second Daypart']- dfmin['8_y'])/dfmin['8_y']
dfmin['Performance2 - September(Daypart avg)']= (dfmin['Minutes_Second Daypart']- dfmin['9_y'])/dfmin['9_y']

In [100]:
dfsessD['Performance - Q3(Daypart avg)']= (dfsessD['Sess_Duration']- dfsessD['Q3_x'])/dfsessD['Q3_x']
dfsessD['Performance - October(Daypart avg)']= (dfsessD['Sess_Duration']- dfsessD['10_x'])/dfsessD['10_x']
#dfsessD['Performance - August(Daypart avg)']= (dfsessD['Sess_Duration']- dfsessD['8_x'])/dfsessD['8_x']
dfsessD['Performance - September(Daypart avg)']= (dfsessD['Sess_Duration']- dfsessD['9_x'])/dfsessD['9_x']


dfsessD['Performance2 - Q3(Daypart avg)']= (dfsessD['Sess_Duration2']- dfsessD['Q3_y'])/dfsessD['Q3_y']
dfsessD['Performance2 - October(Daypart avg)']= (dfsessD['Sess_Duration2']- dfsessD['10_y'])/dfsessD['10_y']
#dfsessD['Performance2 - August(Daypart avg)']= (dfsessD['Sess_Duration2']- dfsessD['8_y'])/dfsessD['8_y']
dfsessD['Performance2 - September(Daypart avg)']= (dfsessD['Sess_Duration2']- dfsessD['9_y'])/dfsessD['9_y']

In [101]:
dfmin=dfmin.loc[:,('Series/Film','Length_minutes', 'Title', 'Dayparts_Start', 'Length_minutes_DP1',
                   'Performance - Q3(Daypart avg)','Performance - September(Daypart avg)',
                   'Performance - October(Daypart avg)',
                   'Dayparts_End',
                    'Length_minutes_DP2', 'Performance2 - Q3(Daypart avg)','Performance2 - September(Daypart avg)',
                   'Performance2 - October(Daypart avg)', 
                   'TS','Minutes per min', 'Minutes_Second Daypart')]

In [102]:
dfsessD=dfsessD.loc[:,('Series/Film','Length_minutes', 'Title', 'Dayparts_Start', 'Length_minutes_DP1',
                   'Performance - Q3(Daypart avg)','Performance - September(Daypart avg)',
                       'Performance - October(Daypart avg)',
                    'Dayparts_End',
                    'Length_minutes_DP2', 'Performance2 - Q3(Daypart avg)','Performance2 - September(Daypart avg)',
                       'Performance2 - October(Daypart avg)',
                    'TS','Sess_Duration','Sess_Duration2')]

In [103]:
dfsessD['Session Duration']= dfsessD[['Sess_Duration','Sess_Duration2']].mean(axis=1)
dfmin['Minutes per min (avg)']= dfmin[['Minutes per min','Minutes_Second Daypart']].mean(axis=1)

# Master/DF hourly Breakdown

In [104]:
Master['First_Hour_Min']=Master['First']*Master['Min_Hour_start']
Master['Second_Hour_Min']=Master['Mid_1']*Master['Min_Hour_Mid1']
Master['Third_Hour_Min']=Master['Mid_2']*Master['Min_Hour_Mid2']
Master['Fourth_Hour_Min']=Master['Mid_3']*Master['Min_Hour_Mid3']
Master['Last_Hour_Min']=Master['Last']*Master['Min_Hour_End']

Master['First_Hour_Sess']=Master['First']*Master['Sess_Hour_start']
Master['Second_Hour_Sess']=Master['Mid_1']*Master['Sess_Hour_Mid1']
Master['Third_Hour_Sess']=Master['Mid_2']*Master['Sess_Hour_Mid2']
Master['Fourth_Hour_Sess']=Master['Mid_3']*Master['Sess_Hour_Mid3']
Master['Last_Hour_Sess']=Master['Last']*Master['Sess_Hour_End']

In [105]:
Master['Length_1']=Master['First']*60
Master['Length_2']=Master['Mid_1']*60
Master['Length_3']=Master['Mid_2']*60
Master['Length_4']=Master['Mid_3']*60
Master['Length_5']=Master['Last']*60

In [106]:
Master1= Master.loc[:,('Content ID','TS','TS End','Title','Series/Film','Hour_Start','First_Hour_Min','First_Hour_Sess',
                       'Length_1','Total Minutes','Total Session')]
Master2= Master.loc[:,('Content ID','TS','TS End','Title','Series/Film','Middle_1_Hour','Second_Hour_Min','Second_Hour_Sess',
                       'Length_2','Total Minutes','Total Session')]
Master3= Master.loc[:,('Content ID','TS','TS End','Title','Series/Film','Middle_2_Hour','Third_Hour_Min','Third_Hour_Sess',
                       'Length_3','Total Minutes','Total Session')]
Master4= Master.loc[:,('Content ID','TS','TS End','Title','Series/Film','Middle_3_Hour','Fourth_Hour_Min','Fourth_Hour_Sess',
                       'Length_4','Total Minutes','Total Session')]
Master5= Master.loc[:,('Content ID','TS','TS End','Title','Series/Film','Hour_End','Last_Hour_Min','Last_Hour_Sess',
                       'Length_5','Total Minutes','Total Session')]

In [107]:
Master1.rename(columns={'Hour_Start':'Hour','First_Hour_Min':'Minutes Viewed in Hour','Length_1':'Length(min) in the Hour',
                        'First_Hour_Sess':'Sessions in Hour'},inplace=True)
Master2.rename(columns={'Middle_1_Hour':'Hour','Second_Hour_Min':'Minutes Viewed in Hour','Length_2':'Length(min) in the Hour',
                        'Second_Hour_Sess':'Sessions in Hour'},inplace=True)
Master3.rename(columns={'Middle_2_Hour':'Hour','Third_Hour_Min':'Minutes Viewed in Hour','Length_3':'Length(min) in the Hour',
                        'Third_Hour_Sess':'Sessions in Hour'},inplace=True)
Master4.rename(columns={'Middle_3_Hour':'Hour','Fourth_Hour_Min':'Minutes Viewed in Hour','Length_4':'Length(min) in the Hour',
                        'Fourth_Hour_Sess':'Sessions in Hour'},inplace=True)
Master5.rename(columns={'Hour_End':'Hour','Last_Hour_Min':'Minutes Viewed in Hour','Length_5':'Length(min) in the Hour',
                        'Last_Hour_Sess':'Sessions in Hour'},inplace=True)

In [108]:
DF= Master1.append([Master2,Master3,Master4,Master5])
DF.dropna(inplace=True)
DF['Weekday']= DF['TS'].dt.weekday

In [109]:
Conditions1 =[
    (DF['Weekday'] < 5) & (DF['Hour'] < 6) & (DF['Hour'] >= 3),
    (DF['Weekday'] < 5) & (DF['Hour'] < 13) & (DF['Hour'] >= 6),
    (DF['Weekday'] < 5) & (DF['Hour'] < 17) & (DF['Hour'] >= 13),
    (DF['Weekday'] < 5) & (DF['Hour'] < 20) & (DF['Hour'] >= 17),
    (DF['Weekday'] < 5) & (DF['Hour'] < 23) & (DF['Hour'] >= 20),
    (DF['Weekday'] < 5) & ((DF['Hour'] < 3) | (DF['Hour'] >= 23)),
    (DF['Weekday'] >= 5) & (DF['Hour'] < 7) & (DF['Hour'] >= 3),
    (DF['Weekday'] >= 5) & (DF['Hour'] < 17) & (DF['Hour'] >= 7),
    (DF['Weekday'] >= 5) & (DF['Hour'] < 20) & (DF['Hour'] >= 17),
    (DF['Weekday'] >= 5) & (DF['Hour'] < 23) & (DF['Hour'] >= 20),
    (DF['Weekday'] >= 5) & ((DF['Hour'] < 3) | (DF['Hour'] >= 23)),
    
]

Daypart1 = ['Weekday Morning','Weekday Day', 'Weekday Fringe','Prime', 'Late Night', 'Overnight',
           'Weekend Morning', 'Weekend Day', 'Prime (wknd)', 'Late Night (wknd)', 'Overnight (wknd)'
         ]

DF['Daypart']= np.select(Conditions1, Daypart1, default= np.nan)

In [110]:
DF['Minutes per Minute']= DF['Minutes Viewed in Hour']/DF['Length(min) in the Hour']
DF['Sessions per Minute']= DF['Sessions in Hour']/DF['Length(min) in the Hour']
DF['Session Duration']= DF['Minutes Viewed in Hour']/DF['Sessions in Hour']
DF['Day']= DF['TS'].dt.day

# Month Breakdown

In [111]:
Condwk=[
    DF['Weekday']== 0,DF['Weekday']== 1,DF['Weekday']== 2,DF['Weekday']== 3,
    DF['Weekday']== 4,DF['Weekday']== 5,DF['Weekday']== 6   
]

wkdays= ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

DF['Weekday(name)']= np.select(Condwk,wkdays, default=np.nan)

In [112]:
DF= DF.loc[:,('Content ID','TS','TS End','Length(min) in the Hour','Day','Weekday','Weekday(name)','Hour','Series/Film',
             'Title','Daypart','Minutes per Minute','Sessions per Minute','Session Duration')]

In [113]:
DF.dropna(inplace=True)
DF.sort_values(by=['TS','TS End'])
DF['Hour']=DF['Hour'].astype(int)
DF.rename(columns={'Hour':'Hour(24-Pac)','Weekday':'Weekday(num)','Weekday(name)':'Weekday'},inplace=True)

In [114]:
Con4=[
    (DF['Hour(24-Pac)']== 0),(DF['Hour(24-Pac)']== 1),(DF['Hour(24-Pac)']== 2),(DF['Hour(24-Pac)']== 3),
    (DF['Hour(24-Pac)']== 4),(DF['Hour(24-Pac)']== 5),(DF['Hour(24-Pac)']== 6),(DF['Hour(24-Pac)']== 7),
    (DF['Hour(24-Pac)']== 8),(DF['Hour(24-Pac)']== 9),(DF['Hour(24-Pac)']== 10),(DF['Hour(24-Pac)']== 11),
    (DF['Hour(24-Pac)']== 12),(DF['Hour(24-Pac)']== 13),(DF['Hour(24-Pac)']== 14),(DF['Hour(24-Pac)']== 15),
    (DF['Hour(24-Pac)']== 16),(DF['Hour(24-Pac)']== 17),(DF['Hour(24-Pac)']== 18),(DF['Hour(24-Pac)']== 19),
    (DF['Hour(24-Pac)']== 20),(DF['Hour(24-Pac)']== 21),(DF['Hour(24-Pac)']== 22),(DF['Hour(24-Pac)']== 23),
    
]

pac=['0am-pt','1am-pt','2am-pt','3am-pt','4am-pt','5am-pt',
    '6am-pt','7am-pt','8am-pt','9am-pt','10am-pt','11am-pt',
    '12pm-pt','1pm-pt','2pm-pt','3pm-pt','4pm-pt','5pm-pt',
    '6pm-pt','7pm-pt','8pm-pt','9pm-pt','10pm-pt','11pm-pt',]

east=['3am-et','4am-et','5am-et','6am-et','7am-et','8am-et',
      '9am-et','10am-et','11am-et','12pm-et','1pm-et','2pm-et',
      '3pm-et','4pm-et','5pm-et','6pm-et','7pm-et','8pm-et',
      '9pm-et','10pm-et','11pm-et','0am-et','1am-et','2am-et']

DF['Pacific_Time']=np.select(Con4,pac,default=np.nan)
DF['East_Time']=np.select(Con4,east,default=np.nan)

In [115]:
DF= DF.loc[:,('Content ID','TS','TS End','Length(min) in the Hour','Day','Weekday(num)','Weekday','Hour(24-Pac)','Pacific_Time',
              'East_Time','Series/Film','Title','Daypart','Minutes per Minute','Sessions per Minute','Session Duration')]

# Building Confidence Interval

In [116]:
DF.sort_values(by=['TS','Hour(24-Pac)'], inplace=True)
DF=DF.reset_index()

In [117]:
DF.loc[(DF['TS'].dt.hour != DF['TS End'].dt.hour) & (DF['Hour(24-Pac)']==0),'Day'] = DF['TS End'].dt.day

In [118]:
DF.loc[(DF['TS'].dt.hour != DF['TS End'].dt.hour) & (DF['Hour(24-Pac)']==0),'Weekday(num)'] = DF['TS End'].dt.weekday

In [119]:
Condwk=[
    DF['Weekday(num)']== 0,DF['Weekday(num)']== 1,DF['Weekday(num)']== 2,DF['Weekday(num)']== 3,
    DF['Weekday(num)']== 4,DF['Weekday(num)']== 5,DF['Weekday(num)']== 6   
]

wkdays= ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']

DF['Weekday(name)']= np.select(Condwk,wkdays, default=np.nan)

In [120]:
Conditions1 =[
    (DF['Weekday(num)'] < 5) & (DF['Hour(24-Pac)'] < 6) & (DF['Hour(24-Pac)'] >= 3),
    (DF['Weekday(num)'] < 5) & (DF['Hour(24-Pac)'] < 13) & (DF['Hour(24-Pac)'] >= 6),
    (DF['Weekday(num)'] < 5) & (DF['Hour(24-Pac)'] < 17) & (DF['Hour(24-Pac)'] >= 13),
    (DF['Weekday(num)'] < 5) & (DF['Hour(24-Pac)'] < 20) & (DF['Hour(24-Pac)'] >= 17),
    (DF['Weekday(num)'] < 5) & (DF['Hour(24-Pac)'] < 23) & (DF['Hour(24-Pac)'] >= 20),
    (DF['Weekday(num)'] < 5) & ((DF['Hour(24-Pac)'] < 3) | (DF['Hour(24-Pac)'] >= 23)),
    (DF['Weekday(num)'] >= 5) & (DF['Hour(24-Pac)'] < 7) & (DF['Hour(24-Pac)'] >= 3),
    (DF['Weekday(num)'] >= 5) & (DF['Hour(24-Pac)'] < 17) & (DF['Hour(24-Pac)'] >= 7),
    (DF['Weekday(num)'] >= 5) & (DF['Hour(24-Pac)'] < 20) & (DF['Hour(24-Pac)'] >= 17),
    (DF['Weekday(num)'] >= 5) & (DF['Hour(24-Pac)'] < 23) & (DF['Hour(24-Pac)'] >= 20),
    (DF['Weekday(num)'] >= 5) & ((DF['Hour(24-Pac)'] < 3) | (DF['Hour(24-Pac)'] >= 23)),
    
]

Daypart1 = ['Weekday Morning','Weekday Day', 'Weekday Fringe','Prime', 'Late Night', 'Overnight',
           'Weekend Morning', 'Weekend Day', 'Prime (wknd)', 'Late Night (wknd)', 'Overnight (wknd)'
         ]

DF['Daypart1']= np.select(Conditions1, Daypart1, default= np.nan)

In [121]:
DF.rename(columns={'Daypart':'no','Daypart1':'Daypart'}, inplace=True)

In [122]:
DF=DF.loc[:,('Content ID','TS','TS End','Length(min) in the Hour','Day','Weekday(num)','Weekday(name)','Hour(24-Pac)',
            'Pacific_Time','East_Time','Series/Film','Title','Daypart','Minutes per Minute',
             'Sessions per Minute','Session Duration')]

In [123]:
Cond=[
    (DF['Weekday(num)']== 5) | (DF['Weekday(num)']==6),
    (DF['Weekday(num)']== 0)|(DF['Weekday(num)']==1)|(DF['Weekday(num)']== 2)|(DF['Weekday(num)']==3)|
    (DF['Weekday(num)']== 4)
]

Values=['Weekend','Weekday']

DF['Weekdays/Weekends']= np.select(Cond,Values)

In [124]:
HR=DF.groupby(['Weekdays/Weekends','Day','Hour(24-Pac)']).mean().reset_index()

In [125]:
Hourly_AVG= HR.loc[:,('Minutes per Minute','Weekdays/Weekends','Hour(24-Pac)')].groupby(['Weekdays/Weekends',
                                        'Hour(24-Pac)']).mean().reset_index()
Hourly_STD= HR.loc[:,('Minutes per Minute','Weekdays/Weekends','Hour(24-Pac)')].groupby(['Weekdays/Weekends',
                                        'Hour(24-Pac)']).std().reset_index()
Hourly_Count= HR.loc[:,('Minutes per Minute','Weekdays/Weekends','Hour(24-Pac)')].groupby(['Weekdays/Weekends',
                                        'Hour(24-Pac)']).count().reset_index()

In [126]:
Hourly_AVG.rename(columns={'Minutes per Minute':'Hourly AVG'},inplace=True)
Hourly_STD.rename(columns={'Minutes per Minute':'Hourly STD'},inplace=True)
Hourly_Count.rename(columns={'Minutes per Minute':'Hourly Count'},inplace=True)

In [127]:
DF= pd.merge(DF,Hourly_AVG, on=['Weekdays/Weekends','Hour(24-Pac)'], how='left')
DF= pd.merge(DF,Hourly_STD, on=['Weekdays/Weekends','Hour(24-Pac)'], how='left')
DF= pd.merge(DF,Hourly_Count, on=['Weekdays/Weekends','Hour(24-Pac)'], how='left')

In [128]:
Hourly_Count

   Weekdays/Weekends  Hour(24-Pac)  Hourly Count
0            Weekday             0            13
1            Weekday             1            13
2            Weekday             2            13
3            Weekday             3            13
4            Weekday             4            13
5            Weekday             5            13
6            Weekday             6            13
7            Weekday             7            13
8            Weekday             8            13
9            Weekday             9            13
10           Weekday            10            12
11           Weekday            11            12
12           Weekday            12            12
13           Weekday            13            12
14           Weekday            14            12
15           Weekday            15            11
16           Weekday            16            12
17           Weekday            17            12
18           Weekday            18            12
19           Weekday            19            12
20           Weekday            20            12
21           Weekday            21            12
22           Weekday            22            12
23           Weekday            23            12
24           Weekend             0             6
25           Weekend             1             6
26           Weekend             2             6
27           Weekend             3             6
28           Weekend             4             6
29           Weekend             5             6
30           Weekend             6             6
31           Weekend             7             6
32           Weekend             8             6
33           Weekend             9             6
34           Weekend            10             6
35           Weekend            11             6
36           Weekend            12             6
37           Weekend            13             6
38           Weekend            14             6
39           Weekend            15             6
40           Weekend            16             6
41           Weekend            17             6
42           Weekend            18             6
43           Weekend            19             6
44           Weekend            20             6
45           Weekend            21             6
46           Weekend            22             6
47           Weekend            23             6

In [129]:
DF.loc[DF['Weekdays/Weekends']=='Weekday', 
       'Wk/Wknd Upper CI(95%)']= DF['Hourly AVG']+(2.179* (DF['Hourly STD']/(DF['Hourly Count']**(1/2))))
DF.loc[DF['Weekdays/Weekends']=='Weekday',
       'Wk/Wknd Lower CI(95%)']= DF['Hourly AVG']-(2.179* (DF['Hourly STD']/(DF['Hourly Count']**(1/2))))

DF.loc[DF['Weekdays/Weekends']=='Weekend', 
       'Wk/Wknd Upper CI(95%)']= DF['Hourly AVG']+(2.571* (DF['Hourly STD']/(DF['Hourly Count']**(1/2))))
DF.loc[DF['Weekdays/Weekends']=='Weekend',
       'Wk/Wknd Lower CI(95%)']= DF['Hourly AVG']-(2.571* (DF['Hourly STD']/(DF['Hourly Count']**(1/2))))

# Summary CI

In [130]:
Con1=[
    (DF['Minutes per Minute'] > DF['Wk/Wknd Upper CI(95%)']),
    (DF['Minutes per Minute'] < DF['Wk/Wknd Lower CI(95%)']),
    (DF['Minutes per Minute'] <= DF['Wk/Wknd Upper CI(95%)']) & (DF['Minutes per Minute'] >= DF['Wk/Wknd Lower CI(95%)'])     
]

Values1= ['Above','Below','Neutral']

DF['Wk/Wknd Above/Below']=np.select(Con1,Values1, default=np.nan)

In [131]:
Con1=[
    (DF['Wk/Wknd Above/Below']== 'Above'), (DF['Wk/Wknd Above/Below']== 'Below'), (DF['Wk/Wknd Above/Below']== 'Neutral'),
]

Values1=[(DF['Minutes per Minute']-DF['Wk/Wknd Upper CI(95%)']),
         (DF['Minutes per Minute']-DF['Wk/Wknd Lower CI(95%)']),
         0]
DF['Above/Below (Dist)']= np.select(Con1,Values1, default=np.nan)

In [132]:
DF['Above/Below %']=(DF['Above/Below (Dist)']/DF['Hourly AVG'])

In [133]:
W=DF.loc[:,('Title','Series/Film','Wk/Wknd Above/Below','Content ID')]

In [134]:
W=W.pivot_table(index= ['Series/Film','Title'], values='Content ID', columns='Wk/Wknd Above/Below', aggfunc=pd.Series.count)

In [135]:
W=W.reset_index()

In [136]:
W['Above']=W['Above'].fillna(0)
W['Below']=W['Below'].fillna(0)
W['Neutral']=W['Neutral'].fillna(0)


W['Count']= (W['Above']+ W['Below']+ W['Neutral'])
W['%Below CI']= W['Below']/W['Count']
W['%Inside CI']= W['Neutral']/W['Count']
W['%Above CI']= W['Above']/W['Count']
W['Score']= ((W['Above']**2)-(W['Below']**2))/W['Count']

In [137]:
W1=DF.loc[:,('Title','Series/Film','Above/Below (Dist)','Above/Below %')]
W1= W1.groupby('Title').mean().reset_index()

In [138]:
SummaryW= pd.merge(W,W1, on='Title', how='left')

In [139]:
SummaryW= SummaryW.loc[:,('Series/Film','Title','Above','Neutral','Below','Count','%Above CI','%Inside CI',
                         '%Below CI','Score','Above/Below (Dist)','Above/Below %')]

# Counts in dayparts

In [140]:
DF1= DF.loc[:,('Content ID','Title','Daypart','Wk/Wknd Above/Below')]

In [141]:
DF1=DF1.pivot_table(index='Title', columns=['Daypart','Wk/Wknd Above/Below'], values='Content ID', aggfunc=pd.Series.count)

In [142]:
DF1.reset_index(inplace=True)

In [143]:
#DF1.columns=['Title',
 #            'LateNight ABOVE','LateNight BELOW','LateNight NEUTRAL',
  #           'LateNight(wknd) NEUTRAL',
   #          'Overnight ABOVE','Overnight BELOW','Overnight NEUTRAL',
    #         'Overnight(wknd) NEUTRAL',
     #        'Prime ABOVE', 'Prime BELOW','Prime NEUTRAL',
      #       'Prime(wknd) NEUTRAL',
       #      'WeekdayDay ABOVE','WeekdayDay BELOW','WeekdayDay NEUTRAL',
        #     'WeekdayFringe ABOVE','WeekdayFringe BELOW','WeekdayFringe NEUTRAL',
         #    'WeekdayMorning ABOVE','WeekdayMorning BELOW','WeekdayMorning NEUTRAL',
          #   'WeekendDay NEUTRAL',
           #  'WeekendMorning NEUTRAL']

In [144]:
DF1.columns=['Title',
             'LateNight ABOVE','LateNight BELOW','LateNight NEUTRAL',
             'LateNight(wknd) ABOVE','LateNight(wknd) BELOW','LateNight(wknd) NEUTRAL',
             'Overnight ABOVE','Overnight BELOW','Overnight NEUTRAL',
             'Overnight(wknd) ABOVE','Overnight(wknd) BELOW','Overnight(wknd) NEUTRAL',
             'Prime ABOVE','Prime BELOW','Prime NEUTRAL',
             'Prime(wknd) ABOVE','Prime(wknd) BELOW','Prime(wknd) NEUTRAL',
             'WeekdayDay ABOVE','WeekdayDay BELOW','WeekdayDay NEUTRAL',
             'WeekdayFringe ABOVE','WeekdayFringe BELOW','WeekdayFringe NEUTRAL',
             'WeekdayMorning ABOVE','WeekdayMorning BELOW','WeekdayMorning NEUTRAL',
             'WeekendDay ABOVE','WeekendDay BELOW','WeekendDay NEUTRAL',
             'WeekendMorning ABOVE','WeekendMorning BELOW','WeekendMorning NEUTRAL']

In [145]:
#DF1['LateNight(wknd) ABOVE']=0
#DF1['LateNight(wknd) BELOW']=0
#DF1['Overnight(wknd) ABOVE']=0
#DF1['Overnight(wknd) BELOW']=0
#DF1['Prime(wknd) ABOVE']=0
#DF1['Prime(wknd) BELOW']=0
#DF1['WeekendDay ABOVE']=0
#DF1['WeekendDay BELOW']=0
#DF1['WeekendMorning ABOVE']=0
#DF1['WeekendMorning BELOW']=0

In [146]:
DF1=DF1.loc[:,('Title',
             'LateNight ABOVE','LateNight NEUTRAL','LateNight BELOW',
             'LateNight(wknd) ABOVE','LateNight(wknd) NEUTRAL','LateNight(wknd) BELOW',
             'Overnight ABOVE','Overnight NEUTRAL','Overnight BELOW',
             'Overnight(wknd) ABOVE','Overnight(wknd) NEUTRAL','Overnight(wknd) BELOW',
             'Prime ABOVE','Prime NEUTRAL','Prime BELOW',
             'Prime(wknd) ABOVE','Prime(wknd) NEUTRAL','Prime(wknd) BELOW',
             'WeekdayDay ABOVE','WeekdayDay NEUTRAL','WeekdayDay BELOW',
             'WeekdayFringe ABOVE','WeekdayFringe NEUTRAL','WeekdayFringe BELOW',
             'WeekdayMorning ABOVE','WeekdayMorning NEUTRAL','WeekdayMorning BELOW',
             'WeekendDay ABOVE','WeekendDay NEUTRAL','WeekendDay BELOW',
             'WeekendMorning ABOVE','WeekendMorning NEUTRAL','WeekendMorning BELOW')]

In [147]:
DF1=DF1.fillna(0)

In [148]:
DF1['LateNight Count']=DF1['LateNight ABOVE']+DF1['LateNight NEUTRAL']+DF1['LateNight BELOW']
DF1['LateNight(wknd) Count']=DF1['LateNight(wknd) ABOVE']+DF1['LateNight(wknd) NEUTRAL']+DF1['LateNight(wknd) BELOW']
DF1['Overnight Count']=DF1['Overnight ABOVE']+DF1['Overnight NEUTRAL']+DF1['Overnight BELOW']
DF1['Overnight(wknd) Count']=DF1['Overnight(wknd) ABOVE']+DF1['Overnight(wknd) NEUTRAL']+DF1['Overnight(wknd) BELOW']
DF1['Prime Count']=DF1['Prime ABOVE']+DF1['Prime NEUTRAL']+DF1['Prime BELOW']
DF1['Prime(wknd) Count']=DF1['Prime(wknd) ABOVE']+DF1['Prime(wknd) NEUTRAL']+DF1['Prime(wknd) BELOW']
DF1['WeekdayDay Count']=DF1['WeekdayDay ABOVE']+DF1['WeekdayDay NEUTRAL']+DF1['WeekdayDay BELOW']
DF1['WeekdayFringe Count']=DF1['WeekdayFringe ABOVE']+DF1['WeekdayFringe NEUTRAL']+DF1['WeekdayFringe BELOW']
DF1['WeekdayMorning Count']=DF1['WeekdayMorning ABOVE']+DF1['WeekdayMorning NEUTRAL']+DF1['WeekdayMorning BELOW']
DF1['WeekendDay Count']=DF1['WeekendDay ABOVE']+DF1['WeekendDay NEUTRAL']+DF1['WeekendDay BELOW']
DF1['WeekendMorning Count']=DF1['WeekendMorning ABOVE']+DF1['WeekendMorning NEUTRAL']+DF1['WeekendMorning BELOW']

In [149]:
DF1['LateNight Above%']=DF1['LateNight ABOVE']/DF1['LateNight Count']
DF1['LateNight Below%']=DF1['LateNight BELOW']/DF1['LateNight Count']
DF1['LateNight Score']=(DF1['LateNight ABOVE']*DF1['LateNight Above%'])-(DF1['LateNight BELOW']*DF1['LateNight Below%'])

DF1['LateNight(wknd) Above%']=DF1['LateNight(wknd) ABOVE']/DF1['LateNight(wknd) Count']
DF1['LateNight(wknd) Below%']=DF1['LateNight(wknd) BELOW']/DF1['LateNight(wknd) Count']
DF1['LateNight(wknd) Score']=(DF1['LateNight(wknd) ABOVE']*DF1['LateNight(wknd) Above%'])-(DF1['LateNight(wknd) BELOW']*DF1['LateNight(wknd) Below%'])

DF1['Overnight Above%']=DF1['Overnight ABOVE']/DF1['Overnight Count']
DF1['Overnight Below%']=DF1['Overnight BELOW']/DF1['Overnight Count']
DF1['Overnight Score']=(DF1['Overnight ABOVE']*DF1['Overnight Above%'])-(DF1['Overnight BELOW']*DF1['Overnight Below%'])

DF1['Overnight(wknd) Above%']=DF1['Overnight(wknd) ABOVE']/DF1['Overnight(wknd) Count']
DF1['Overnight(wknd) Below%']=DF1['Overnight(wknd) BELOW']/DF1['Overnight(wknd) Count']
DF1['Overnight(wknd) Score']=(DF1['Overnight(wknd) ABOVE']*DF1['Overnight(wknd) Above%'])-(DF1['Overnight(wknd) BELOW']*DF1['Overnight(wknd) Below%'])

DF1['Prime Above%']=DF1['Prime ABOVE']/DF1['Prime Count']
DF1['Prime Below%']=DF1['Prime BELOW']/DF1['Prime Count']
DF1['Prime Score']=(DF1['Prime ABOVE']*DF1['Prime Above%'])-(DF1['Prime BELOW']*DF1['Prime Below%'])

DF1['Prime(wknd) Above%']=DF1['Prime(wknd) ABOVE']/DF1['Prime(wknd) Count']
DF1['Prime(wknd) Below%']=DF1['Prime(wknd) BELOW']/DF1['Prime(wknd) Count']
DF1['Prime(wknd) Score']=(DF1['Prime(wknd) ABOVE']*DF1['Prime(wknd) Above%'])-(DF1['Prime(wknd) BELOW']*DF1['Prime(wknd) Below%'])

DF1['WeekdayDay Above%']=DF1['WeekdayDay ABOVE']/DF1['WeekdayDay Count']
DF1['WeekdayDay Below%']=DF1['WeekdayDay BELOW']/DF1['WeekdayDay Count']
DF1['WeekdayDay Score']=(DF1['WeekdayDay ABOVE']*DF1['WeekdayDay Above%'])-(DF1['WeekdayDay BELOW']*DF1['WeekdayDay Below%'])

DF1['WeekdayFringe Above%']=DF1['WeekdayFringe ABOVE']/DF1['WeekdayFringe Count']
DF1['WeekdayFringe Below%']=DF1['WeekdayFringe BELOW']/DF1['WeekdayFringe Count']
DF1['WeekdayFringe Score']=(DF1['WeekdayFringe ABOVE']*DF1['WeekdayFringe Above%'])-(DF1['WeekdayFringe BELOW']*DF1['WeekdayFringe Below%'])

DF1['WeekdayMorning Above%']=DF1['WeekdayMorning ABOVE']/DF1['WeekdayMorning Count']
DF1['WeekdayMorning Below%']=DF1['WeekdayMorning BELOW']/DF1['WeekdayMorning Count']
DF1['WeekdayMorning Score']=(DF1['WeekdayMorning ABOVE']*DF1['WeekdayMorning Above%'])-(DF1['WeekdayMorning BELOW']*DF1['WeekdayMorning Below%'])

DF1['WeekendDay Above%']=DF1['WeekendDay ABOVE']/DF1['WeekendDay Count']
DF1['WeekendDay Below%']=DF1['WeekendDay BELOW']/DF1['WeekendDay Count']
DF1['WeekendDay Score']=(DF1['WeekendDay ABOVE']*DF1['WeekendDay Above%'])-(DF1['WeekendDay BELOW']*DF1['WeekendDay Below%'])

DF1['WeekendMorning Above%']=DF1['WeekendMorning ABOVE']/DF1['WeekendMorning Count']
DF1['WeekendMorning Below%']=DF1['WeekendMorning BELOW']/DF1['WeekendMorning Count']
DF1['WeekendMorning Score']=(DF1['WeekendMorning ABOVE']*DF1['WeekendMorning Above%'])-(DF1['WeekendMorning BELOW']*DF1['WeekendMorning Below%'])

In [150]:
DF1=DF1.loc[:,('Title',
             'LateNight Count','LateNight ABOVE','LateNight NEUTRAL','LateNight BELOW','LateNight Above%','LateNight Score',
             'LateNight(wknd) Count','LateNight(wknd) ABOVE','LateNight(wknd) NEUTRAL','LateNight(wknd) BELOW','LateNight(wknd) Above%','LateNight(wknd) Score',
             'Overnight Count','Overnight ABOVE','Overnight NEUTRAL','Overnight BELOW','Overnight Above%','Overnight Score',
             'Overnight(wknd) Count','Overnight(wknd) ABOVE','Overnight(wknd) NEUTRAL','Overnight(wknd) BELOW','Overnight(wknd) Above%','Overnight(wknd) Score',
             'Prime Count','Prime ABOVE','Prime NEUTRAL','Prime BELOW','Prime Above%','Prime Score',
             'Prime(wknd) Count','Prime(wknd) ABOVE','Prime(wknd) NEUTRAL','Prime(wknd) BELOW','Prime(wknd) Above%','Prime(wknd) Score',
             'WeekdayDay Count','WeekdayDay ABOVE','WeekdayDay NEUTRAL','WeekdayDay BELOW','WeekdayDay Above%','WeekdayDay Score',
             'WeekdayFringe Count','WeekdayFringe ABOVE','WeekdayFringe NEUTRAL','WeekdayFringe BELOW','WeekdayFringe Above%','WeekdayFringe Score',
             'WeekdayMorning Count','WeekdayMorning ABOVE','WeekdayMorning NEUTRAL','WeekdayMorning BELOW','WeekdayMorning Above%','WeekdayMorning Score',
             'WeekendDay Count','WeekendDay ABOVE','WeekendDay NEUTRAL','WeekendDay BELOW','WeekendDay Above%','WeekendDay Score',
             'WeekendMorning Count','WeekendMorning ABOVE','WeekendMorning NEUTRAL','WeekendMorning BELOW','WeekendMorning Above%','WeekendMorning Score',)]

In [151]:
DF1.loc[DF1['LateNight Count']==0,('LateNight Count','LateNight ABOVE','LateNight NEUTRAL','LateNight BELOW','LateNight Above%','LateNight Score')]=''
DF1.loc[DF1['LateNight(wknd) Count']==0,('LateNight(wknd) Count','LateNight(wknd) ABOVE','LateNight(wknd) NEUTRAL','LateNight(wknd) BELOW','LateNight(wknd) Above%','LateNight(wknd) Score')]=''
DF1.loc[DF1['Overnight Count']==0,('Overnight Count','Overnight ABOVE','Overnight NEUTRAL','Overnight BELOW','Overnight Above%','Overnight Score')]=''
DF1.loc[DF1['Overnight(wknd) Count']==0,('Overnight(wknd) Count','Overnight(wknd) ABOVE','Overnight(wknd) NEUTRAL','Overnight(wknd) BELOW','Overnight(wknd) Above%','Overnight(wknd) Score')]=''
DF1.loc[DF1['Prime Count']==0,('Prime Count','Prime ABOVE','Prime NEUTRAL','Prime BELOW','Prime Above%','Prime Score')]=''
DF1.loc[DF1['Prime(wknd) Count']==0,('Prime(wknd) Count','Prime(wknd) ABOVE','Prime(wknd) NEUTRAL','Prime(wknd) BELOW','Prime(wknd) Above%','Prime(wknd) Score')]=''
DF1.loc[DF1['WeekdayDay Count']==0,('WeekdayDay Count','WeekdayDay ABOVE','WeekdayDay NEUTRAL','WeekdayDay BELOW','WeekdayDay Above%','WeekdayDay Score')]=''
DF1.loc[DF1['WeekdayFringe Count']==0,('WeekdayFringe Count','WeekdayFringe ABOVE','WeekdayFringe NEUTRAL','WeekdayFringe BELOW','WeekdayFringe Above%','WeekdayFringe Score')]=''
DF1.loc[DF1['WeekdayMorning Count']==0,('WeekdayMorning Count','WeekdayMorning ABOVE','WeekdayMorning NEUTRAL','WeekdayMorning BELOW','WeekdayMorning Above%','WeekdayMorning Score')]=''
DF1.loc[DF1['WeekendDay Count']==0,('WeekendDay Count','WeekendDay ABOVE','WeekendDay NEUTRAL','WeekendDay BELOW','WeekendDay Above%','WeekendDay Score')]=''
DF1.loc[DF1['WeekendMorning Count']==0,('WeekendMorning Count','WeekendMorning ABOVE','WeekendMorning NEUTRAL','WeekendMorning BELOW','WeekendMorning Above%','WeekendMorning Score')]=''

In [152]:
DF_CI=pd.merge(SummaryW,DF1, on='Title', how='left')

In [153]:
DF_CI

,Series/Film,Title,Above,Neutral,Below,Count,%Above CI,%Inside CI,%Below CI,Score,...,WeekendDay NEUTRAL,WeekendDay BELOW,WeekendDay Above%,WeekendDay Score,WeekendMorning Count,WeekendMorning ABOVE,WeekendMorning NEUTRAL,WeekendMorning BELOW,WeekendMorning Above%,WeekendMorning Score
0,Film,4GOT10,5.0,3.0,0.0,8.0,0.625000,0.375000,0.000000,3.125000,...,,,,,,,,,,
1,Film,ALONE IN THE DARK 2,1.0,2.0,1.0,4.0,0.250000,0.500000,0.250000,0.000000,...,,,,,,,,,,
2,Film,Audition,0.0,3.0,6.0,9.0,0.000000,0.333333,0.666667,-4.000000,...,,,,,,,,,,
3,Film,Bad Black and Beautiful,0.0,3.0,0.0,3.0,0.000000,1.000000,0.000000,0.000000,...,,,,,,,,,,
4,Film,Big Kill,2.0,5.0,0.0,7.0,0.285714,0.714286,0.000000,0.571429,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Series,Maria!,18.0,32.0,23.0,73.0,0.246575,0.438356,0.315068,-2.808219,...,,,,,,,,,,
63,Series,The Camacho Experiment,0.0,11.0,0.0,11.0,0.000000,1.000000,0.000000,0.000000,...,2.0,0.0,0.0,0.0,9.0,0.0,9.0,0.0,0.0,0.0
64,Series,The Chuey Martinez Show,6.0,12.0,11.0,29.0,0.206897,0.413793,0.379310,-2.931034,...,,,,,,,,,,
65,Series,United Tacos of America,0.0,31.0,20.0,51.0,0.000000,0.607843,0.392157,-7.843137,...,5.0,0.0,0.0,0.0,16.0,0.0,10.0,6.0,0.0,-2.25
66,Series,Vampiro: Unleashed,0.0,10.0,5.0,15.0,0.000000,0.666667,0.333333,-1.666667,...,,,,,7.0,0.0,5.0,2.0,0.0,-0.571429

# Summary

In [154]:
dfminsum1= dfmin.loc[:,('Series/Film','Title', 'Dayparts_Start','Performance - Q3(Daypart avg)',
                        'Performance - September(Daypart avg)',
                        'Performance - October(Daypart avg)' )]
dfminsum2= dfmin.loc[:, ('Series/Film','Title','Dayparts_End', 'Performance2 - Q3(Daypart avg)',
                         'Performance2 - September(Daypart avg)',
                         'Performance2 - October(Daypart avg)' )]

dfsessum1= dfsessD.loc[:,('Series/Film','Title', 'Dayparts_Start','Performance - Q3(Daypart avg)',
                          'Performance - September(Daypart avg)',
       'Performance - October(Daypart avg)', 'Session Duration' )]
dfsessum2= dfsessD.loc[:, ('Series/Film','Title','Dayparts_End', 'Performance2 - Q3(Daypart avg)',
                           'Performance2 - September(Daypart avg)',
       'Performance2 - October(Daypart avg)', 'Session Duration')]

In [155]:
dfminsum1.rename(columns={'Dayparts_Start':'Daypart'}, inplace=True)
dfminsum2.rename(columns={'Dayparts_End':'Daypart','Performance2 - Q3(Daypart avg)':'Performance - Q3(Daypart avg)',
                          'Performance2 - September(Daypart avg)':'Performance - September(Daypart avg)',
                         'Performance2 - October(Daypart avg)': 'Performance - October(Daypart avg)'
                         }, inplace=True)

dfsessum1.rename(columns={'Dayparts_Start':'Daypart'}, inplace=True)
dfsessum2.rename(columns={'Dayparts_End':'Daypart','Performance2 - Q3(Daypart avg)':'Performance - Q3(Daypart avg)',
                          'Performance2 - September(Daypart avg)':'Performance - September(Daypart avg)',
                         'Performance2 - October(Daypart avg)': 'Performance - October(Daypart avg)'
                         }, inplace=True)

In [156]:
dfminsum= dfminsum1.append(dfminsum2)
dfsessum= dfsessum1.append(dfsessum2)

In [157]:
dfminsum= dfminsum.groupby(['Title','Daypart','Series/Film']).mean().reset_index()
dfsessum= dfsessum.groupby(['Title','Daypart','Series/Film']).mean().reset_index()

In [158]:
DF.sort_values(by=['TS','Hour(24-Pac)'], inplace=True)

In [159]:
dfmin

,Series/Film,Length_minutes,Title,Dayparts_Start,Length_minutes_DP1,Performance - Q3(Daypart avg),Performance - September(Daypart avg),Performance - October(Daypart avg),Dayparts_End,Length_minutes_DP2,Performance2 - Q3(Daypart avg),Performance2 - September(Daypart avg),Performance2 - October(Daypart avg),TS,Minutes per min,Minutes_Second Daypart,Minutes per min (avg)
0,Series,47.800333,Maria!,Overnight,47.800333,0.974606,0.256256,0.401136,Overnight,0.000000,NaN,NaN,NaN,2021-10-01 00:00:00.000,194.600000,NaN,194.600000
1,Series,27.033833,The Chuey Martinez Show,Overnight,27.033833,0.968281,0.252232,0.396649,Overnight,0.000000,NaN,NaN,NaN,2021-10-01 00:47:48.020,193.976684,NaN,193.976684
2,Film,86.869833,Get Christie Love,Overnight,86.869833,0.915198,0.218460,0.358982,Overnight,0.000000,NaN,NaN,NaN,2021-10-01 01:14:50.050,188.745230,NaN,188.745230
3,Film,95.383500,Bad Black and Beautiful,Overnight,18.296000,0.313739,-0.164192,-0.067800,Weekday Morning,77.087500,0.481053,-0.007442,0.285314,2021-10-01 02:41:42.240,129.470681,129.470681,129.470681
4,Film,80.416667,The Black Brigade,Weekday Morning,80.416667,-0.165197,-0.440540,-0.275526,Weekday Morning,0.000000,NaN,NaN,NaN,2021-10-01 04:17:05.250,72.976788,NaN,72.976788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,Series,53.415667,Ip Man: Legend,Prime (wknd),53.415667,NaN,NaN,NaN,Prime (wknd),0.000000,NaN,NaN,NaN,2021-10-31 17:08:56.190,NaN,NaN,NaN
863,Series,51.383833,Ip Man: Origins,Prime (wknd),51.383833,NaN,NaN,NaN,Prime (wknd),0.000000,NaN,NaN,NaN,2021-10-31 18:02:21.130,NaN,NaN,NaN
864,Film,104.949500,Satan's Slave,Prime (wknd),66.264000,NaN,NaN,NaN,Late Night (wknd),38.685500,NaN,NaN,NaN,2021-10-31 18:53:44.160,NaN,NaN,NaN
865,Film,98.949000,Re-Animator,Late Night (wknd),98.949000,NaN,NaN,NaN,Late Night (wknd),0.000000,NaN,NaN,NaN,2021-10-31 20:38:41.130,NaN,NaN,NaN
866,Film,102.353333,The Mutilator,Late Night (wknd),42.365500,NaN,NaN,NaN,Overnight (wknd),59.987833,NaN,NaN,NaN,2021-10-31 22:17:38.070,NaN,NaN,NaN

In [160]:
#Change Date****************************************************************************
output= pd.ExcelWriter('ElRey_Oct_19_out.xlsx', engine='xlsxwriter')
DF.to_excel(output, sheet_name= 'DF',index=False)
DF_CI.to_excel(output, sheet_name= 'CI Summary',index=False)
dfmin.to_excel(output, sheet_name='Minutes', index=False)
dfminsum.to_excel(output, sheet_name='Minutes_Summary',index=False)
dfsessD.to_excel(output, sheet_name='Session Duration', index= False)
dfsessum.to_excel(output, sheet_name='Session Duration Summary',index=False)
Amagi_DPA.to_excel(output, sheet_name='Daypart Avrgs', index=False)
output.save()